body{
    text-align: center;
    background color: black;
}
}
h2{
    color: white;
}
h1{
    color: red;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
.sp{
    margin: 10px;
}